#search {

display: flex;


flex-direction: row;
 


}




#movieList{


display: flex;

margin-bottom: 10px;

}
.card{
    margin-left: 20px;
    height: 500px;
    width: 800px;
}
.card img{

width: 250px;
height: 200px;
margin-left: 20px;

}

